- name: Re-deploy dev servers for fresh installation 
  hosts: repo_recursioncomic:&env_dev
  vars_files:
    - ../../ansible/playbook/drupal/vars.yaml
    - vault.yaml
  serial: 1  
  tasks:
    - name: Wipe dev tasks from ansible 
      import_tasks: ../../ansible/playbook/drupal/tasks/0-wipe-dev.yaml