- name: Build the Drupal composer files
  hosts: localhost
  vars:
    - APPLICATION: "recursioncomic"
  vars_files:
    - ../../ansible/playbook/drupal/vars.yaml
  tasks:      
    - name: Build composer tasks from ansible
      import_tasks: ../../ansible/playbook/drupal/tasks/1-build-composer.yaml