- name: Create Production Template from Dev VM 
  hosts: role_proxmox_host:!legs"
  remote_user: root  
  vars_files:
    - /home/{{ ANSIBLE_USER }}/ansible/playbook/drupal/vars.yaml
    - vault.yaml
  tasks:
    - name: Create image template tasks from ansible 
      import_tasks: /home/{{ ANSIBLE_USER }}/ansible/playbook/drupal/tasks/3a-create-template.yaml

- name: Mod template from Dev VM 
  hosts: pve
  remote_user: root  
  vars_files:
    - /home/{{ ANSIBLE_USER }}/ansible/playbook/drupal/vars.yaml
    - vault.yaml
  tasks:
    - name: Create image template tasks from ansible 
      import_tasks: /home/{{ ANSIBLE_USER }}/ansible/playbook/drupal/tasks/3b-mod-template.yaml