{% for row in rows %} 
<div id="main-banner-wrapper">
<div id="main-banner-content">
<a href="/"><img id="mainBanner" alt="Recursion" data-entity-type="file" data-entity-uuid="204e1b69-4b8a-4940-b3bc-2b27fc98aabd" src="/sites/default/files/inline-images/recursion%20logo_0.png" /></a>
{{ row.content }}
</div>
</div>

{% endfor %}
