<div class="archiveThumb">
  {{ fields.field_main_image.content }}
</div>
<div class="archiveText">
  <div class="archiveTitle">
    {{ fields.title.content }}
  </div>
    {{ fields.body.content }}
</div>
