<div class="comicTitleBox">
  <div class="comicTitle">
    {{ fields.title.content }}
  </div>
  <div class="comicDate">
    {{ fields.field_publishing_date.content }}
  </div>
</div>

    {{ fields.field_comic.content }}
