<div class="archiveThumb">
  {{ fields.field_thumbnail.content }}
</div>
<div class="archiveText">
  <div class="archiveTitle">
    {{ fields.title.content }}
  </div>
  <div class="archivePub">
    {{ fields.field_publishing_date.content }}
  </div>
</div>
