<div class="archiveThumb">
  {{ fields.field_main_image.content }}
</div>
<div class="archiveText">
  <div class="archiveTitle">
    <a href="{{ fields.field_link_for_content.content }}">{{ fields.title.content }}</a>
  </div>
    {{ fields.body.content }}
</div>
