name: Populate Variables

on:
  push:
    branches:      
      - dev

jobs:
  build-dev:    
    runs-on: [self-hosted, dev]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2      

      - name: Run script
        run: |
          # Your script using the populated variables
          sudo /home/kevin/recursioncomic/scripts/install.sh ${{ secrets.DBNAME }} ${{ secrets.DBUSER }} ${{ secrets.DBPASSWORD }} ${{ github.workspace }} > /home/kevin/installLog.txt