name: Populate Variables

on:
  push:
    branches:      
      - dev

jobs:
  build-dev:    
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ dev2, dev1 ] # Replace with your runner names

    steps:
      - name: Checkout code
        uses: actions/checkout@v2      

      - name: Run script
        run: |          
          sudo ${{ github.workspace }}/scripts/install.sh -d ${{ secrets.DBNAME }} -u ${{ secrets.DBUSER }} -p ${{ secrets.DBPASSWORD }} -h ${{ secrets.DBIP }} -r ${{ secrets.REPLICAIP }} -w ${{ github.workspace }} -a ${GITHUB_REPOSITORY#*/} -b ${{ github.ref }} -s ${{ matrix.runner }} > /home/kevin/installLog.txt
