name: Populate Variables

on:
  push:
    branches:
      - dev

jobs:
  build-dev1:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ dev1 ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run script on 1
        run: |          
          sudo ${{ github.workspace }}/scripts/install.sh -p ${{ secrets.DBPASSWORD }} -w ${{ github.workspace }} -a ${GITHUB_REPOSITORY#*/} -b ${{ github.ref }} -s ${{ matrix.runner }} > /home/kevin/installLog.txt

  build-dev2:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ dev2 ]
    needs: build-dev1
    steps:
      - name: Run script on 2
        run: |          
          sudo ${{ github.workspace }}/scripts/install.sh -p ${{ secrets.DBPASSWORD }} -w ${{ github.workspace }} -a ${GITHUB_REPOSITORY#*/} -b ${{ github.ref }} -s ${{ matrix.runner }} > /home/kevin/installLog.txt
