name: Populate Variables

on:
  push:
    branches:      
      - dev

jobs:
  build-dev:    
    runs-on: [self-hosted, dev]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up environment
        run: |
          # Set environment variables from secrets
          export DBNAME=${{ secrets.DBNAME }}
          export DBPASSWORD=${{ secrets.DBPASSWORD }}
          export DBUSER=${{ secrets.DBUSER }}

      - name: Run script
        run: |
          # Your script using the populated variables
          sudo /home/kevin/recursioncomic/scripts/install.sh $DBNAME $DBUSER $DBPASSWORD