name: Populate Variables

on:
  push:
    branches:      
      - main

jobs:
  build-prod:    
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ web-recursion-prod2, web-recursion-prod1, prod ] # Replace with your runner names
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2      

      - name: Run script
        run: |          
          sudo ${{ github.workspace }}/scripts/install.sh \
            -d ${{ secrets.DBNAME }} \
            -u ${{ secrets.DBUSER }} \
            -p ${{ secrets.DBPASSWORD }} \
            -h ${{ secrets.DBIP }} \
            -w ${{ github.workspace }} \
            -a ${GITHUB_REPOSITORY#*/} \
            -b ${{ github.ref }} \            
            > /home/kevin/installLog.txt